body{
	
	font-family:ubuntu;
	height: 100%;
}

#header{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;		
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	text-decoration: none;
	opacity:0.4;
	font-size:150%;
	font-weight:normal;
	text-align:center;
	position:relative;
	width: 100%;
}

.firstname{
	text-decoration: none;
	color: black;
}

.surname{
	text-decoration: none;
	color: black;
	font-size:90%;
	opacity:0.5;
}

#header:hover{
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;		
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	opacity:1;
	transform:scale(1.2, 1.2);	
	-webkit-transform:scale(1.2, 1.2);
}


.posts{
	text-align:center;
	width: 94%;
}

#postname{
	text-decoration: none;
	font-size: 25px;
}

#date{
	opacity: 0.5;
	}

#title{
	padding-top: 20px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
}

#content{
	width: 60%;
	text-align:left;
	margin: auto;	
}

#pdate{
opacity: 0.5;
width: 100%; 
text-align: center;}
/*#fb{
	background-image: url("favicon.ico");
	position: absolute;
	margin-left: 8%;
	margin-top: 4%;
	}
*/	
#new{
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
	float: left;
	margin-left: 4%;
	width:150px;
	height:150px;
	background-image:url(/image/a.png);
	background-size:150px 150px;
	opacity: 0.5;
	z-index:2;
	position:absolute;
	}

#header:hover ~ #new, #new:hover{
	
	-webkit-transition: all 2s ease;
	transform: all 2s ease;
	transform:translate(0px, 100px);
	-webkit-transform:translate(10px,100px);
	opacity: 1;
	}